<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drawabletest">

    <application
        android:icon="@mipmap/spacepang"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/spacepang_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrawableTest">
        <activity android:name=".activities.game.EasterEggActivity"></activity>
        <activity android:name=".activities.game.SinglePlayerActivityLandscape" />
        <activity android:name=".activities.game.PlayMultyplayerActivity" />
        <activity
            android:name=".activities.editor.EditorActivity"
            android:label="@string/editor" />
        <activity
            android:name=".activities.impostazioni.ImpostazioniActivity"
            android:label="@string/options" />
        <activity
            android:name=".activities.highscores.HighscoresActivity"
            android:label="@string/highscores" />
        <activity android:name=".activities.home.HomeActivity" />
        <activity android:name=".activities.game.PlaySinglePlayerActivity" />
        <activity android:name=".activities.game.PlayEditorActivity" />
        <activity
            android:name=".activities.home.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

</manifest>